    /* GENERICI */
    
    
    /******* HEADER  ******/
    /* NAVBAR  */
    .nav_bar{
        width: 100%;
        height: 70px;
        padding: 1rem;
        position: relative;
     
    }
    .bar{ min-height: 40px;}
    
    .mobile-logo{
        position: absolute;
        height: 40px;
        top: 16px;
        left: 8px;
    }
    
    .logo{ display: none;}
    
    .search{margin-left: 25px;}  
    
    .icons{display: none;}

    
    /******* MAIN  ******/
    .container-main{
        width: 100vw;
        height: calc(100vh - 70px);
        display: flex;
    }
    /* MAIN LEFT SIDEBAR */
    .sidebar{
        min-width: 70px;
        height: 100%;
        background-color: #12293e;
    }
    .sidebar-top{
        width: 100%;
        height: 50%;
    }
    .list-home{display: none;}
    .admin{display: none;}

    .sidebar-bottom{
        width: 100%;
        height: 50%;
    }


    /* MAIN RIGHT STAIDA  */
    .stadia{
        min-width:calc(100vw - 70px);
        height: 100%;
        overflow-y: auto;
    }

    .boolean-bar{
        width: 100%;
        min-height: 125px;
        background-color: #1b72e8;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .boolean-top{
        padding: 1.5rem 0 0.7rem 2rem;
        gap: 1rem;
    }
    .plus-r{
        position: absolute;
        padding-left: 5rem;
    }

    .button-r{display: none;}
    
    .container-staida{
        height: 100%;
    }
     
    /* MAIN LEFT  */
    .container-staida-left{
        height: 100%;
        padding: 2rem;
    }
    /* MAIN RIGHT  */
    .container-staida-right{
       height: 100%;
    }
    .tabel{
        border: 2px solid black;

    }
    .img-avatar{width: 2rem;}


        


    
    
    /* FOOTER  */
/*************************************/
/******* XS RESPONSIVE:  *******/
/* @media screen and (max-width: 575px) { */

    /* GENERICI */
    
    
    /* HEADER  */
   
    

    /* MAIN CONTENT  */


    
    
    /* FOOTER  */





/**************************************/
/******* SM RESPONSIVE:  *******/
@media screen and (min-width: 576px)  {
 
    
    
    /* GENERICI */
    
    
    /* HEADER  */
    .logo{display: none;}

    .mobile-logo{display: block;}

    .search{margin-left: 25px;}  
    
    
    
    /* MAIN CONTENT  */

    
    
    /* FOOTER  */
    
}


/******************************************/
/******* MD- RESPONSIVE:    *******/
@media screen and (min-width: 768px)  {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
    .boolean-bar{flex-direction: row;}
    .boolean-right{}
    
    /* FOOTER  */
    
}


/************************************************/
/******* LG - RESPONSIVE:*******/
@media screen and (min-width: 992px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    .logo{display: block;}
    .mobile-logo{ display: none;}
    .icons{display: block;}

    /* MAIN CONTENT  */
    .sidebar{min-width: 150px;}
    .stadia{min-width:calc(100vw - 150px);}

    .list-home{display:inline-block;}
    .admin{display:inline-block;}

    /* MAIN RIGHT STAIDA  */
    .plus-r{display: none;}
    .button-r{display: inline-block;}

    
    
    
    
    /* FOOTER  */
    
}

/************************************************/
/******* XL - RESPONSIVE:    *******/
@media screen and (min-width: 1200px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */

    
    /* MAIN CONTENT  */
   

        

    
    
    /* FOOTER  */
    
}

/************************************************/
/******* XXL- RESPONSIVE: LARGE DEKSTOP   *******/
@media screen and (min-width: 1400px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    
    /* MAIN CONTENT  */
    
    
    /* FOOTER  */
    
}

